# Bootstrap project
BOOTSTRAP_PROJECT_ID="infra-bootstrap"
BOOTSTRAP_PROJECT_NAME="infra-bootstrap"

# Billing account for infra-bootstrap itself.
# Billing Account itself is managed outside this script.
BILLING_ACCOUNT_ID="XXXXXX-XXXXXX-XXXXXX"

# Use either ORGANIZATION_ID or FOLDER_ID.
ORGANIZATION_ID=""
FOLDER_ID=""

# Terraform Project Factory Service Account
TERRAFORM_PROJECT_FACTORY_SA_ID="terraform-project-factory"
TERRAFORM_PROJECT_FACTORY_SA_DISPLAY_NAME="Terraform Project Factory"

# Workload Identity Federation
WORKLOAD_IDENTITY_POOL_ID="terraform-cloud"
WORKLOAD_IDENTITY_POOL_DISPLAY_NAME="Terraform Cloud"

WORKLOAD_IDENTITY_PROVIDER_ID="terraform-cloud"
WORKLOAD_IDENTITY_PROVIDER_DISPLAY_NAME="Terraform Cloud"

# Terraform Cloud / HCP Terraform
# Used only for restricting OIDC access by Terraform Cloud organization.
TFC_ORGANIZATION_NAME="example-terraform-cloud-org"

# Behavior
CONFIRM_BEFORE_APPLY="true"
